$font-base: 'MuseoSansCyrl', sans-serif;
$font-alt: 'DIN', sans-serif;

$font: normal 20px/1.55 $font-base;
$font-mainTitle: bold 121px/124px $font-alt;
$font-subtitle: normal 29px/31px $font-base;

$header-height: 100px;

$margin-holder: 60px;

$color-accent: #EE3624;
