.banner-stores {
  position: absolute;
  right: $margin-holder;
  bottom: 30px;

  @media only screen and $medium {
    bottom: 10px;
  }
}

.banner-store {
  margin-left: 20px;
  padding: 5px;
  height: 40px;
  transition: $time;

  &:hover {
    cursor: pointer;
    opacity: .5;
  }
}