.banner-stores {
  position: absolute;
  bottom: 30px;
  right: $margin-holder;

  @media only screen and $medium {
    bottom: 10px;
  }
}

.banner-store {
  margin-left: 20px;
  height: 40px;
  padding: 5px;

  &:hover {
    opacity: .5;
    cursor: pointer;
  }
}