.banner-social {
  position: absolute;
  top: 50%;
  left: $margin-holder;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 135px;
  transform: translateY(-50%);

  @mixin respond-to test {
    height: 400px;
  }
}