.about {
  background-color: $color-accent;
  font: $font-text;
  color: white;
  text-align: center;
  position: relative;
  z-index: -2;
}

.about-holder {
  position: relative;
  padding: 90px 0;
}

.about-text {
  width: 55%;
  margin: 0 auto;
}

.about-img {
  position: absolute;
  z-index: -1;
  top: 25px;
  right: 0;
  width: 270px;
  height: 536px;
  background-image: url('./../img/a_thing.png');
}