.button {
  display: inline-block;
  padding: 20px 45px;
  background-color: $color-accent;
  color: white;
  font: $font-button;
  text-transform: uppercase;
  white-space: nowrap;
}

.button-wrapper {
  margin: 0 auto;
  width: inherit;
}