.button {
  display: inline-block;
  padding: 20px 45px;
  background-color: $color-accent;
  color: white;
  font: $font-button;
  text-transform: uppercase;
  white-space: nowrap;

  &.with__border {
    border: 2px solid rgba(255, 255, 255, .7);;
  }
}

.button-wrapper {
  margin: 0 auto;

  &.is__positioned {
    align-self: flex-end;
    margin: 0;
  }

  &.is__alt {
    margin: 0;
  }

  .textBlock-content.is__alt & {
    margin-bottom: auto;
  }
}
