@import './vendors/normalize.css';
@import './tech/fonts.css';
@import './tech/mixins.css';
@import './tech/vars.css';
@import './partials/header/header.css';
@import './partials/header/menu.css';
@import './partials/header/enroll.css';

div {
  color: red;
  font-size: 20px;
}

.image {
  display: block;
  width: 100px;
  height: 100px;
}
