@import './vendors/normalize.pcss';
@import './tech/fonts.pcss';
@import './tech/mixins.pcss';
@import './tech/vars.pcss';
@import './partials/header/enroll.pcss';
@import './partials/header/header.pcss';
@import './partials/header/menu.pcss';
@import './partials/basic.pcss';

.image {
  display: block;
  width: 100px;
  height: 100px;
}
