<% var data = {
  title: "BOY CUT"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<div class="container">
  <%= _.template(require('./../includes/banner.html'))(data) %>
  <%= _.template(require('./../includes/aboutSpecial.html'))(data) %>
  <%= _.template(require('./../includes/textBlock-about.html'))(data) %>
  <%= _.template(require('./../includes/priceBlock.html'))(data) %>
  <%= _.template(require('./../includes/textBlock-franch.html'))(data) %>
  <%= _.template(require('./../includes/map-moscow.html'))(data) %>
  <%= _.template(require('./../includes/textBlock-franchRussia.html'))(data) %>
  <%= _.template(require('./../includes/map-russia.html'))(data) %>
  <%= _.template(require('./../includes/textBlock-academy.html'))(data) %>
  <%= _.template(require('./../includes/textBlock-contacts.html'))(data) %>
  <%= _.template(require('./../includes/media.html'))(data) %>
</div>
<%= _.template(require('./../includes/footer.html'))(data) %>
