.map-moscow,
.map-russia {
  position: relative;
  height: 100vh;
}

.map-counter {
  display: block;
  position: absolute;
  height: 1500px;
  top: -350px;
  left: -170px;
  width: 1500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.map-descr {
  position: absolute;
  right: $margin-holder;
  bottom: $margin-holder;
  color: $color-altTitle;
  opacity: .75;
  font-size: 20px;
  line-height: 27px;
}