.open {
  position: absolute;
  bottom: 0;
  padding: 30px 0;
  width: 100%;
  background-color: rgba(238, 54, 36, .9);
}

.open-title {
  margin: 0 0 30px;
  width: inherit;
  font: $font-service;
  text-align: center;
  text-transform: uppercase;
  color: white;

  @mixin respond-to desk {
    font: $font-serviceSmall;
  }
}
