.enroll {
  height: $header-height;
  box-sizing: border-box;
  padding: 0 $margin-holder;
  background-color: red;
}

.enroll-title {
  display: inline-block;
  width: 100%;
  color: white;
  line-height: $header-height;
  text-align: center;

}