.header {
  height: $header-height;
  position: relative;
  font: $font;
}

.header-holder {
  display: flex;
  height: $header-height;
  align-items: center;
  justify-content: space-between;

  &.holder {
    margin-right: 0;
  }
}

.header-logo {
  width: 116px;
}