.header {
  position: relative;
  height: $header-height;
  font: $font;
  color: $color-black;

  @media only screen and (max-width: $medium) {
    height: $header-heightSmall;
    font: $font-small;
  }
}

.header-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  &.holder {
    margin-right: 0;
  }
}

.header-logo {
  width: 116px;
}