.menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-link {
  
  color: black;
  display: block;
  padding: 5px 10px;
  margin: 0 10px;
  text-decoration: none;

  &:hover,
  &:visited {
    color: black;
  }
}