.menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-link {
  display: block;
  margin: 0 10px;
  padding: 5px 10px;
  text-decoration: none; 
  color: black;
  transition: .3s;

  &:hover {
    color: $color-accent;
  }
}